@media screen and (max-width: 576px) {
  #header-content > section:nth-of-type(1) > h1 {
    font-size: 60px;
  }
  #header-content > section:nth-of-type(1) > h2 {
    font-size: 60px;
  }
  #header-content > section:nth-of-type(1) > a {
    width: 180px;
    height: 60px;
  }
  #service > section:nth-of-type(1) {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-left: 0;
    padding-bottom: 1%;
  }
  #service > section:nth-of-type(2) {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
  }
  #service > section:nth-of-type(2) > div {
    width: 1320px;
  }
  #service > section:nth-of-type(2) > div > section {
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #service > section:nth-of-type(2) > div > section > span {
    display: flex;
    width: 435px;
  }
  #simple > Section:nth-of-type(1) {
    align-items: center;
    padding-left: 0px;
  }
  #simple > Section:nth-of-type(1) > h3 {
    font-size: 40px;
  }
  #simple > Section:nth-of-type(2) > div {
    width: 95%;
  }
  #simple > Section:nth-of-type(2) > div > section {
    margin-bottom: 5%;
    height: 250px;
  }
  #simple > Section:nth-of-type(2) > div > section > div {
    padding-left: 10%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(1) {
    height: 50%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(2) {
    height: 50%;
  }
  footer > section:nth-of-type(1) > div {
    height: 250px;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section {
    margin-left: 0;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div {
    width: 100%;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div:nth-of-type(1) {
    justify-content: center;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(2) > section {
    width: 450px;
  }
}
@media screen and (min-width: 576px) {
  #header-content > section:nth-of-type(1) > h1 {
    font-size: 60px;
  }
  #header-content > section:nth-of-type(1) > h2 {
    font-size: 60px;
  }
  #header-content > section:nth-of-type(1) > a {
    width: 180px;
    height: 60px;
  }
  #service > section:nth-of-type(1) {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-left: 0;
    padding-bottom: 1%;
  }
  #service > section:nth-of-type(2) {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
  }
  #service > section:nth-of-type(2) > div {
    width: 1320px;
  }
  #service > section:nth-of-type(2) > div > section {
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #service > section:nth-of-type(2) > div > section > span {
    display: flex;
    width: 435px;
  }
  #simple > Section:nth-of-type(1) {
    align-items: center;
    padding-left: 0px;
  }
  #simple > Section:nth-of-type(1) > h3 {
    font-size: 40px;
  }
  #simple > Section:nth-of-type(2) > div {
    width: 90%;
  }
  #simple > Section:nth-of-type(2) > div > section {
    margin-bottom: 5%;
    height: 250px;
  }
  #simple > Section:nth-of-type(2) > div > section > div {
    padding-left: 10%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(1) {
    height: 50%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(2) {
    height: 50%;
  }
  footer > section:nth-of-type(1) > div {
    height: 250px;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section {
    margin-left: 0;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div {
    width: 100%;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div:nth-of-type(1) {
    justify-content: center;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(2) > section {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  #header-content > section:nth-of-type(1) > h1 {
    font-size: 90px;
  }
  #header-content > section:nth-of-type(1) > h2 {
    font-size: 90px;
  }
  #header-content > section:nth-of-type(1) > a {
    width: 180px;
    height: 60px;
  }
  #service > section:nth-of-type(1) {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-left: 0%;
    padding-bottom: 1%;
  }
  #service > section:nth-of-type(2) {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
  }
  #service > section:nth-of-type(2) > div {
    width: 1320px;
  }
  #service > section:nth-of-type(2) > div > section {
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #service > section:nth-of-type(2) > div > section > span {
    display: flex;
    width: 350px;
  }
  footer > section:nth-of-type(1) > div {
    height: 350px;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section {
    margin-left: 0;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div {
    width: 100%;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div:nth-of-type(1) {
    justify-content: center;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(2) > section {
    width: 700px;
  }
}
@media screen and (min-width: 992px) {
  #header-content > section:nth-of-type(1) > h1 {
    font-size: 120px;
  }
  #header-content > section:nth-of-type(1) > h2 {
    font-size: 120px;
  }
  #header-content > section:nth-of-type(1) > a {
    width: 180px;
    height: 60px;
  }
  #service > section:nth-of-type(1) {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-left: 15%;
    padding-bottom: 1%;
  }
  #service > section:nth-of-type(2) {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
  }
  #service > section:nth-of-type(2) > div {
    width: 1320px;
  }
  #service > section:nth-of-type(2) > div > section {
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #service > section:nth-of-type(2) > div > section > span {
    display: flex;
    width: 635px;
  }
  #simple > Section:nth-of-type(1) {
    align-items: start;
    padding-left: 15%;
  }
  #simple > Section:nth-of-type(1) > h3 {
    font-size: 48px;
  }
  #simple > Section:nth-of-type(2) > div {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  #simple > Section:nth-of-type(2) > div > section {
    height: 305px;
  }
  #simple > Section:nth-of-type(2) > div > section > div {
    padding-left: 10%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(1) {
    height: 50%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(2) {
    height: 50%;
  }
  footer > section:nth-of-type(1) > div {
    height: 450px;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section {
    margin-left: 0;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div {
    width: 100%;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div:nth-of-type(1) {
    justify-content: start;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(2) > section {
    width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  #simple > Section:nth-of-type(1) {
    align-items: start;
    padding-left: 15%;
  }
  #simple > Section:nth-of-type(1) > h3 {
    font-size: 48px;
  }
  #simple > Section:nth-of-type(2) > div {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  #simple > Section:nth-of-type(2) > div > section {
    height: 305px;
  }
  #simple > Section:nth-of-type(2) > div > section > div {
    padding-left: 10%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(1) {
    height: 50%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(2) {
    height: 50%;
  }
}
@media screen and (min-width: 1400px) {
  #simple > Section:nth-of-type(1) {
    align-items: start;
    padding-left: 15%;
  }
  #simple > Section:nth-of-type(1) > h3 {
    font-size: 48px;
  }
  #simple > Section:nth-of-type(2) > div {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
  #simple > Section:nth-of-type(2) > div > section {
    height: 305px;
  }
  #simple > Section:nth-of-type(2) > div > section > div {
    padding-left: 10%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(1) {
    height: 50%;
  }
  #simple > Section:nth-of-type(2) > div > section > div:nth-of-type(2) {
    height: 50%;
  }
  footer > section:nth-of-type(1) > div {
    height: 550px;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section {
    margin-left: 10%;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div {
    width: 100%;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(1) > section > div:nth-of-type(1) {
    justify-content: start;
  }
  footer > section:nth-of-type(1) > div:nth-of-type(2) > section {
    width: 500px;
  }
}/*# sourceMappingURL=local.css.map */